.app input, .app button{
    font-size: 16px;
    margin: 20px;
    padding: 10px 20px;
    border: 2px solid gray;
    background-color: white;
    color: black;
    transition: .5s;
}

.app button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    border-color: black;

}