*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: gray;
}

ul{
  display: flex;
  list-style-type: none;
}

li{
  flex-grow: 1;
}

a{
  color: aliceblue;
  text-align: center;
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 4px solid grey;
}

a:hover{
  color: yellow;

}

section{
  text-align: center;
  padding-top: 30px;
}

.home_selected{
  border-bottom-color: yellow;
}

.contact_selected{
  border-bottom-color: green;
}

.news_selected{
  border-bottom-color: red;
}